<h1>About </h1>
<div class="panel panel-default">
<div class="panel-body">
<div class="row">
<div class="col-md-6">
<a class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets - Curated tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
<div class="col-md-6">
	<div class="row">
		<div class="panel panel-default">
  		<div class="panel-body">
  		<div class="col-md-3">
  		 <%= image_tag "russell.jpg", class: "img-circle"%>
  		</div>
		<div class="col-md-9">
		<p>This is the content </p>
		</div>
  </div>
</div>
		
	</div>

</div>
</div> <!-- end of row -->
</div>
</div>